


body {
    background-color: white;


}
main {
    display: flex;
    flex-direction: column;
    background-color: white;
}
#events {
    display: flex;
    flex-direction: column;
    background-color: white;

}
#venues {
    display: flex;
    flex-direction: column;
    background-color: white;
}


p {
    font-family: 'Roboto', sans-serif;
}

p.prices {
    font-family:'Merriweather Sans', sans-serif;
    color: black;
    text-decoration:overline;

}
 header a {
        text-decoration: none;

    }

.titleEvent {
    font-family:'Roboto', sans-serif;
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    font-size: 16px;
    text-align:left;
    text-transform:uppercase;
    font-weight: 200;
    /*limits the color around the text content only instead of taking the entire cell*/
width: max-content;
}


.somebar {
    grid-area: left;

}

nav a{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    text-transform:uppercase;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;

}


/* MENU */

.menu {
  background-color: rgba(0, 0, 0, 0.9);
  overflow:hidden;
    /*fixing the menu on Scroll */
    position: fixed;
  top: 0;
  width: 100%;
    z-index: 1;
}



.menu a {
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
 padding: 30px;
  font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Change the color of links on hover */
.menu a:hover {
  color: #f2f2f2;
border-bottom: 2px solid #f25244;

}

/*2nd option color dark red #A70928*/

/* Add an active class to highlight the current page */
.menu a.active {
  background-image:url(img/husetmenu.png);
background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f25244;
    width: 90px;
    height: auto;
    padding: 40px;
    border: 4px solid black;
  }

/* Hide the link that should open and close the topnav on small screens */
.menu .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
      display: block;
    text-align: left;
  }
}

/***/
/*COVER IMAGE*/

.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
    height: 350px;
    width: auto;
filter: grayscale(100%)
}
/*.CoverImage:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .CoverImage {
   height: 300px;
    width: auto;
  }
}
/*grid*/



/**/


article {
    display: flex;
    flex-flow: column;

}

/* social media*/

.fa {
    display: block;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #517fa4;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}.fa-twitter {
  background: #00aced;
  color: white;
}

/*NAV categories*/
nav {
    display: block;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
     background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}
nav .fixed {
    display: flex;
}
nav.a {
    display: flex;
    flex-flow: column;
}

nav a:hover {
  color: #f2f2f2;
border-bottom: 3px solid #f25244;

}

nav a.fixed {
    border-bottom: 3px solid #f25244;
  }

.no-events-text{
    display: none;
}
.no-events-text.show {
    display: block;
}
/* TAGS style */
p.tagTitle {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 18px;
    }
#tagNav>a {
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;

background-color: black;
    color: white;
    /*
        background-image:  linear-gradient(black, grey);
*/

    border-radius: 15px;
    padding: 2px 8px;
     width: max-content;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  text-align: center;
    }
/* SEARCH style*/

input[type="search"] {
    width: 100px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px;
    border-style: solid;
    border-color:gainsboro;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}
input[type="submit"] {
width: 80px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    border: 0px;
    border-style: none;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}



/*HOME PAGE*/
.imageHomelogo {
    position: relative;
    top: 600px;
    width: 300px;
    height: auto;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}




@supports (display: grid) {



   .somebar {
        grid-area: left;
       position:fixed;
   z-index: 1;

    }
    #tagNav {
        grid-area: tags;

align-items: center;
justify-content: center;
        padding: 10px;
    }
    nav {
     grid-area: nav;
    }
    .search {
        grid-area: search;
        display: flex;
align-items: center;
justify-content: center;
    }
    .pageName {
    grid-area: title;
        color: lightgrey;
       font-family: 'Roboto', sans-serif;
        background-color: white;
/*       border-bottom: 3px solid #f25244;*/
        width: max-content;
        text-transform: lowercase;
      }

    main.eventsMain {
        display: grid;
        grid-template-columns: 300px 1fr 300px;

        grid-template-areas:
            "nav nav nav"
            "left title search"
            ". events tags";
    }
    #events {
        display: grid;
        grid-area: events;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 3rem;
        /*general style*/
        padding: 5px;
        align-items: center;
        justify-content: center;

    }
/*SUB page: detailed event*/
    .subArticle {
        grid-area: subArt;
        padding: 30px;
    }
    main.subMain {
        display: grid;
        grid-template-columns: 300px 1fr 300px;
        grid-template-rows: 50px 100px 1fr;

        grid-template-areas:
            "nav nav nav"
            "left subArt search"
            "left subArt tags"
            "left subArt .";
    }
    /*BASTARD CAFE page*/

    .imageBastardlogo {
        grid-area: logo;
          width: 80px;
    height: auto;
    z-index: -1;
    }

    .venueHouse {
        grid-area: titleV;
    }
    .venueDescription {
        grid-area: description;
    }
    .location {
        grid-area: location;
    }
    .hours {
        grid-area: hours;
    }
    .contactName {
        grid-area: cname;
    }
    .phone {
        grid-area: phone;
    }
    .externalSite {
        grid-area: site;
    }

    .mainVenue {
        grid-area: mainV;
    }
    .somebar {
        grid-area: some;
    }
    #venues {
        grid-area: venues;
    }


    /******/
    main.mainVenue {
        display: grid;
        grid-template-columns: 250px 1fr 250px;
        grid-template-areas:
            "left venues logo";
    }

    #venues {
        display: grid;
        grid-area: venues;
        grid-template-columns: 1fr;
        /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        /* Don't add more columns than theres is content for. && +content "always" take full width */
        grid-gap: 3rem;
        /*general style*/
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
  /*EVENTS general style*/
   /*events IMAGE*/
    img.cover {
        background-position: center;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /*image HOVER*/
    img.cover:hover  {
  opacity: 0.5;

}
    p.shortdescription {
        text-align: left;
        font-weight: 100;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        padding: 10px;
    }
    p.date {
        font-family: 'Merriweather Sans', sans-serif;
        text-align: right;
        font-weight: 100;
        color: black;
    }

    /*TAGS categories*/

    p.tagTitle {
        grid-area: tagTitle;
    }
    #tagNav.a {
        grid-area: tagItem;

    }

    #tagNav {
     display: grid;
    grid-template-columns: ;
    grid-template-rows: 100px 20px 20px 20px 1fr;
    grid-gap: 5px;
    padding: 0px;
         text-align: center;
    grid-template-areas: "tagTitle tagTitle tagTitle"
        "tagItem tagItem tagItem";
        ". noresult .";
}


}
