<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

body {
    background-color: whitesmoke;


}
main {
    display: flex;
    flex-direction: column;
}
#events {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

p {
    font-family: 'Nunito', sans-serif;
}

 header a {
        text-decoration: none;
    }

h1 {
    font-family: 'Nunito', sans-serif;
    color: #A70928;
    text-decoration-line: none;
    text-decoration: none;
    /*limits the color around the text content only instead of taking the entire cell*/
        width: max-content;
}

.left {
    grid-area: left;
}

nav a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform:uppercase;
    padding: 14px 16px;
    color: white;
    text-decoration: none;

}

#tagNav>a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 14px;
}
/* MENU */

.menu {
  background-color: rgba(0, 0, 0, 0.9);
  overflow:hidden;
    /*fixing the menu on Scroll */
    position: fixed;
  top: 0;
  width: 100%;
    z-index: 1;
}



.menu a {
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
 padding: 30px;
  font-size: 14px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* Change the color of links on hover */
.menu a:hover {
  color: #f2f2f2;
border-bottom: 4px solid #f25244;

}

/*2nd option color dark red #A70928*/

/* Add an active class to highlight the current page */
.menu a.active {
  background-image:url(img/husetmenu.png);
background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f25244;
    width: 90px;
    height: auto;
    padding: 40px;
    border: 4px solid black;
  }

/* Hide the link that should open and close the topnav on small screens */
.menu .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
      display: block;
    text-align: left;
  }
}

/***/
/*COVER IMAGE*/

.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
    height: 600px;
    width: auto;
}
/*.CoverImage:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .CoverImage {
   height: 300px;
    width: auto;
  }
}
/*grid*/
@supports (display: grid) {

   .left {
        grid-area: left;
       position:fixed;
   z-index: -1;

    } #tagNav {
        grid-area: tags;

align-items: center;
justify-content: center;
        padding: 10px;
    }
    nav {
     grid-area: nav;
    }
    .search {
        grid-area: search;
        display: flex;
align-items: center;
justify-content: center;
    }
    .pageName {
    grid-area: title;
        color: black;



    }

    main {
        display: grid;
        grid-template-columns: 250px 1fr 250px;
        grid-template-areas:
            "left title search"
            "nav nav nav"
            ". events tags";
    }
    #events {
        display: grid;
        grid-area: events;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        /* Don't add more columns than theres is content for. && +content "always" take full width */
        grid-gap: 3rem;
        /*general style*/
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
  /*EVENTS general style*/
   /*events IMAGE*/
    img.cover {
        background-position: center;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        opacity: 1;
    }
    /*image HOVER*/
    img.cover:hover  {
  opacity: 0.5;

}
    p.shortdescription {
        text-align: left;
    }
    p.date {
        text-align: right;
    }

    /*TAGS categories*/

    p.tagTitle {
        grid-area: tagTitle;
    }
    #tagNav.a {
        grid-area: tagItem;
    }
    #tagNav .no-events-text {
    grid-area: noresult;
}
#tagNav {
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr 1fr 1fr));
    grid-template-rows: 100px 20px 20px 20px 1fr;
    grid-gap: 5px;
    padding: 0px;
    grid-template-areas: "tagTitle tagTitle tagTitle"
        "tagItem tagItem tagItem";
        "noresult . .";
    text-align: center;


}

}







/* END @supports grid */

article {
    display: flex;
    flex-flow: column;
}

/* social media*/
aside {
/*    display: block;*/
}
.facebook {
    display: inline-block;
    margin: 0px auto;
    height: 33px;
    padding: 1px;
    border-radius: 5px;
}.insta {
    display: inline-block;
    margin: 0 auto;
    height: 35px;
    padding: 0px;
    border-radius: 0px;
}

/*NAV categories*/
nav {
    display: block;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
     background-color: black;
    color: white;

}
nav .fixed {
    display: flex;
}
nav.a {
    display: flex;
    flex-flow: column;
}

nav a:hover {
  color: #f2f2f2;
border-bottom: 3px solid #f25244;

}

nav a.fixed {
    border-bottom: 3px solid #f25244;
  }
}

.no-events-text {
    visibility: hidden;
}
/* TAGS style */
p.tagTitle {
    font-family: 'Nunito', sans-serif;
    }
#tagNav>a {
    font-family: 'Nunito', sans-serif;
        border: 1px;
        border-style: solid;
        border-color: aqua;
    border-radius: 8px;
    padding: 0 5px 0 5px;
     width: max-content;
    }
/* SEARCH style*/

input[type="search"] {
    width: 100px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    border: 1px;
    border-style: solid;
    border-color:gainsboro;

}
input[type="submit"] {
width: 80px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    border: 0px;
    border-style: none;
    background-color: whitesmoke;
}



/*HOME PAGE*/
.imageHomelogo {
    position: relative;
    top: 600px;
    width: 300px;
    height: auto;
    z-index: 1;
}
