<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

body {
    background-color: white;


}
/*GRID*/
p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}
.left {
    grid-area: left;
}

nav a {
    font-family: 'Nunito', sans-serif;

}

#tagnav a {
    font-family: 'Nunito', sans-serif;
}
/* MENU */

.menu {
  background-color: rgba(0, 0, 0, 0.9);
  overflow:hidden;
    /*fixing the menu on Scroll */
    position: fixed;
  top: 0;
  width: 100%;
}



.menu a {
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
 padding: 30px;
  font-size: 14px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* Change the color of links on hover */
.menu a:hover {
  color: #f2f2f2;
border-bottom: 4px solid #f25244;

}

/*2nd option color dark red #A70928*/

/* Add an active class to highlight the current page */
.menu a.active {
  background-image:url(img/husetmenu.png);
background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f25244;
    width: 90px;
    height: auto;
    padding: 40px;
    border: 4px solid black;
  }

/* Hide the link that should open and close the topnav on small screens */
.menu .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
      display: block;
    text-align: left;
  }
}

/***/
/*COVER IMAGE*/

.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
    height: 600px;
    width: auto;
}
/*.CoverImage:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .CoverImage {
   height: 300px;
    width: auto;
  }
}
/*grid*/
@supports (display: grid) {

/*
    .left {
        grid-area: left;
    } .right {
        grid-area: right;
    }
    .menu {
     grid-area: menu;
    }
*/
    #events {
            display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        /* Don't add more columns than theres is content for. && +content "always" take full width */
        grid-gap: 1rem;
    }
} /* END @supports grid */

article {
    display: flex;
    flex-flow: column;
}

/* social media*/
aside {
    display: block;
}
.facebook {
    display: block;
    height: 30px;
    padding: 1px;
}.insta {
    display: block;
    height: 30px;
    padding: 1px;
}

/*NAV categories*/
nav {
    display: block;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
nav .fixed {
    display: flex;
}
nav .a {
    display: flex;
    flex-flow: column;
}

.no-events-text {
    visibility: hidden;
}
